@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600&display=swap');
* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif !important;
}

.carousel-item {
    transition: transform .3s ease-in-out !important;
    pointer-events: none;
    z-index: -1;
}

.carousel {
    pointer-events: none;
    padding: 0 !important;
}

.carousel-inner {
    height: 100vh;
}

.active-header {
    background-color: #3d3c3c;
    box-shadow: 0 0 10px #666666;
}

.bgg {
    height: 100vh;
    position: relative;
    margin: 0 !important;
    width: 100%;
}

.containercontent-home {
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.header {
    height: 45px;
}

.buttom-home button {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    font-weight: bolder;
}

.btn {
    border: 2px solid rgb(255, 255, 255) !important;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

.default:hover {
    color: rgb(53, 51, 51);
    background: #e7e7e7;
}

.title h1 {
    font-weight: 600;
    margin-top: 5px;
    font-size: 28px;
    letter-spacing: 1px;
    color: #fff;
    /* text-shadow: 1px 1px 1px rgb(87 87 94); */
}

.title a {
    text-decoration: none;
}

ul.menu {
    display: flex;
    justify-content: end;
    margin-top: 12px;
    list-style: none;
    padding: 0;
    float: right;
}

ul.menu li a {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    float: left;
    margin-right: 20px;
    padding: 0;
    text-shadow: 1px 1px 2px rgb(87 87 94);
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}

ul.menu li a:hover {
    border-bottom: 2px solid #c1baba;
    padding-bottom: 0px;
}

.containercontent-home h2 {
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 26px;
    margin-bottom: 20px;
    /* text-shadow: 1px 1px 2px rgb(87 87 94); */
}

.containercontent-home span {
    font-weight: bolder;
    /* text-shadow: 1px 1px 2px rgb(87 87 94); */
}

.containercontent-home .buttom-home {
    margin-top: 25px;
}

.button-read {
    margin-right: 10px;
}

.services {
    padding-top: 100px;
    /* margin-bottom: 120px; */
}

.services h6,
h4 {
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}

.services h4 {
    letter-spacing: 4px;
    font-weight: bolder;
    font-size: 22px
}

.services h6 {
    font-size: 16px;
    letter-spacing: 2px;
}

.services img {
    width: auto;
    height: 25px;
}

.services-title {
    margin-bottom: 50px;
    margin-top: 50px;
}

.content-box-service img {
    margin-bottom: 25px;
}

.content-box-service p {
    color: rgb(183 169 169);
    text-align: center;
    height: 100px;
    font-size: 14px;
}

.bnn {
    padding-top: 120px;
}

.timer {
    background-color: rgba(34, 33, 33, 88%);
    width: 100%;
    height: 245px;
}

.number {
    font-size: 45px;
    font-weight: bolder;
    color: #fff;
}

.name {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 16px;
    color: #fff;
}

.great-work {
    padding-top: 120px
}

.title-great-work {
    margin-bottom: 45px;
}

.title-great-work h4 {
    letter-spacing: 4px;
    font-weight: bolder;
    font-size: 22px
}

.nav button {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-link.active {
    color: #aeeb3b !important;
}

.nav-link {
    color: rgb(53, 51, 51) !important;
}

.img-great {
    padding-top: 10px;
}

.all img {
    size: cover;
    width: 100%;
}

.all div {
    padding: 0;
}

.branding img {
    width: 100%;
}

.footter {
    height: 150px;
}

.footter-content p1,
p2 {
    margin-right: 5px;
}

.footter-content p2 {
    font-weight: 600;
    color: #4e4e4e
}

.footter-content p1,
p3 {
    font-weight: 400;
    color: rgb(183 169 169);
}

@media screen and (max-width:480px) {
    /* .containercontent-home {
        top: 130px;
    } */
    .carousel-item img {
        height: 100vh;
        size: auto;
    }
    .header-content ul {
        display: none;
    }
    .containercontent-home h2 {
        letter-spacing: 1px;
    }
    .button-read button {
        display: none;
    }
    .carousel-inner {
        height: 100vh;
    }
    .bgg {
        height: auto;
    }
    .timer {
        height: auto;
        padding-top: 70px;
        padding-bottom: 30px;
    }
    .timer-content {
        margin-bottom: 40px;
    }
    .nav-link {
        padding: .5rem 9px !important;
    }
}